.finish_text {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: transition-opacity 300ms ease forwards;
    @keyframes transition-opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
