@use "../../../shared/styles/vars.scss";
@import "../../../shared/styles/mixins/pxToRem.scss";

.body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include pxToRem(row-gap, 8);
    margin: 0 1rem 1.5rem;
    @include pxToRem(font-size, 20);
    font-weight: 500;
    .header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        .btn_start_timer {
            position: relative;
            background: vars.$bg-primary;
            padding: 0.5rem 1rem;
            transition-duration: vars.$global-dur-anim;
            width: fit-content;
            @include pxToRem(border-radius, 10);
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: inherit;
                background-color: rgba(#3b3b3b, 0.5);
                transition-duration: vars.$global-dur-anim;
            }
            &:hover::after {
                background-color: rgba(#3b3b3b, 0);
            }
        }
    }

    .control_text_body {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        position: relative;
        padding: 1rem;
    }
}
