@use "../../../shared/styles/vars.scss";
@import "../../../shared/styles/mixins/pxToRem.scss";

.input_body {
    $input-radius: 9999px;
    border-radius: $input-radius;
    border-width: 3px;
    border-style: solid;
    border-color: #3b3b3b;
    display: flex;
    transition-duration: vars.$global-dur-anim;
    &.active {
        border-color: white;
    }
    .input_text {
        width: 100%;
        border-radius: $input-radius;
        font-weight: 500;
        transition-duration: vars.$global-dur-anim;
        @include pxToRem(padding, 10);
        @include pxToRem(height, 32);
        @include pxToRem(margin, 4);
        @include pxToRem(font-size, 18);
    }
}
