@use "../../../../../shared/styles/vars.scss";

.word {
    opacity: 0.5;
    &.visited {
        opacity: 1;
    }
    &.activeWord {
        color: white;
        opacity: 1;
        &:has(.activeLetter) {
            opacity: 1;
        }
        .activeLetter {
            color: vars.$color-primary;
        }
        .error {
            &,
            & ~ * {
                opacity: 0.9;
                color: red;
            }
        }
    }
}
